{
  "parser": "@typescript-eslint/parser",
  "env": {
    "commonjs": false,
    "es6": true,
    "node": true
  },
  "extends": ["plugin:@typescript-eslint/recommended", "prettier"],
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "rules": {
    "semi": "off",
    "quotes": ["error", "single"],
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-explicit-any": 1,
    "@typescript-eslint/no-inferrable-types": [
      "warn",
      {
        "ignoreParameters": true
      }
    ],
    "@typescript-eslint/no-unused-vars": "warn",
    "@typescript-eslint/no-empty-interface": 0,
    "prettier/prettier": "warn"
  },
  "plugins": ["@typescript-eslint", "prettier"],
  "overrides": [
    {
      "files": ["*.ts"],

      "rules": {
        "indent": "off",
        "semi": "off"
      }
    }
  ]
}
